*/Debug
.cproject
.project
.settings

.metadata
AndroidOne
Project1
ProjectOne
Test
courselib
googletest_lib
googletestlib
quizonehelper
quiztwohelper
quiz5helper/src/q5solution.hpp
quiz5helper/src/driver.cpp